# Wrangling and Analyzing data
#### By Hana ALalawi

## Table of contect:

### Introduction

wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations.


## Wrangling data

### Gathring data
### Assessing data
#### Quality Issue
#### Tidness Issue
### Cleaning data
### Storing, Analyzing, and Visualizing
#### Insight one :
#### Insight two :
#### Insight three :

## Introduction

brief about the project

#### Install packages and libraries

In [20]:
#relatied packages and libraries
import pandas as pd
import requests
import datetime 
import numpy as np
import requests
import json
import os

## Gathering data

In [ ]:
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'HIDDEN'
consumer_secret = 'HIDDEN'
access_token = 'HIDDEN'
access_secret = 'HIDDEN'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = df_1.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

In [122]:
twitter_archive_df = pd.read_csv('twitter-archive-enhanced.csv')
#reading twitter data 
twitter_archive_df.head()

#set tweet_id as the index
set_index = twitter_archive_df.set_index('tweet_id')
#twitter archive data stored in twitter_archive_df dataframe

In [123]:
#image prediction file
#image_predictions.tsv

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
image_predict = requests.get(url, allow_redirects=True)
with open(url.split('/')[-1], mode='wb') as file:
    file.write(image_predict.content)
#load image prediction file
dog_images_df = pd.read_csv('image-predictions.tsv', sep='\t')
#image prediction data stored in dog_images_df dataframe

In [117]:
#Then read this .txt file line by line into a pandas DataFrame 
#with (at minimum) tweet ID, retweet count, and favorite count. 
#gets tweet id, retweets count, likes count from JSON file and store it in dataframe.

#check if the file of tweets exist or not 
if not os.path.exists('tweet-json.txt'):
    #for testing
    print('NOT EXIST')

In [118]:
with open("tweet-json.txt", "r", encoding = "utf-8") as json_file:
    #read a line from json file
    print(json_file.readline())
    #strore the json file content on list

{"created_at": "Tue Aug 01 16:23:56 +0000 2017", "id": 892420643555336193, "id_str": "892420643555336193", "full_text": "This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU", "truncated": false, "display_text_range": [0, 85], "entities": {"hashtags": [], "symbols": [], "user_mentions": [], "urls": [], "media": [{"id": 892420639486877696, "id_str": "892420639486877696", "indices": [86, 109], "media_url": "http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg", "media_url_https": "https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg", "url": "https://t.co/MgUWQ76dJU", "display_url": "pic.twitter.com/MgUWQ76dJU", "expanded_url": "https://twitter.com/dog_rates/status/892420643555336193/photo/1", "type": "photo", "sizes": {"large": {"w": 540, "h": 528, "resize": "fit"}, "thumb": {"w": 150, "h": 150, "resize": "crop"}, "small": {"w": 540, "h": 528, "resize": "fit"}, "medium": {"w": 540, "h": 528, "resize": "fit"}}}]}, "extended_entities": {"media": [{"id": 892420639486877696, "id_str": "892420639486877696", "indices": [86, 109], "media_url": "http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg", "media_url_https": "https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg", "url": "https://t.co/MgUWQ76dJU", "display_url": "pic.twitter.com/MgUWQ76dJU", "expanded_url": "https://twitter.com/dog_rates/status/892420643555336193/photo/1", "type": "photo", "sizes": {"large": {"w": 540, "h": 528, "resize": "fit"}, "thumb": {"w": 150, "h": 150, "resize": "crop"}, "small": {"w": 540, "h": 528, "resize": "fit"}, "medium": {"w": 540, "h": 528, "resize": "fit"}}}]}, "source": "<a href=\"http://twitter.com/download/iphone\" rel=\"nofollow\">Twitter for iPhone</a>", "in_reply_to_status_id": null, "in_reply_to_status_id_str": null, "in_reply_to_user_id": null, "in_reply_to_user_id_str": null, "in_reply_to_screen_name": null, "user": {"id": 4196983835, "id_str": "4196983835", "name": "WeRateDogs\u2122 (author)", "screen_name": "dog_rates", "location": "DM YOUR DOGS, WE WILL RATE", "description": "#1 Source for Professional Dog Ratings | STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs MOBILE APP: @GoodDogsGame | Business: dogratingtwitter@gmail.com", "url": "https://t.co/N7sNNHAEXS", "entities": {"url": {"urls": [{"url": "https://t.co/N7sNNHAEXS", "expanded_url": "http://weratedogs.com", "display_url": "weratedogs.com", "indices": [0, 23]}]}, "description": {"urls": []}}, "protected": false, "followers_count": 3200889, "friends_count": 104, "listed_count": 2784, "created_at": "Sun Nov 15 21:41:29 +0000 2015", "favourites_count": 114031, "utc_offset": null, "time_zone": null, "geo_enabled": true, "verified": true, "statuses_count": 5288, "lang": "en", "contributors_enabled": false, "is_translator": false, "is_translation_enabled": false, "profile_background_color": "000000", "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png", "profile_background_tile": false, "profile_image_url": "http://pbs.twimg.com/profile_images/861415328504569856/R2xOOfwe_normal.jpg", "profile_image_url_https": "https://pbs.twimg.com/profile_images/861415328504569856/R2xOOfwe_normal.jpg", "profile_banner_url": "https://pbs.twimg.com/profile_banners/4196983835/1501129017", "profile_link_color": "F5ABB5", "profile_sidebar_border_color": "000000", "profile_sidebar_fill_color": "000000", "profile_text_color": "000000", "profile_use_background_image": false, "has_extended_profile": true, "default_profile": false, "default_profile_image": false, "following": true, "follow_request_sent": false, "notifications": false, "translator_type": "none"}, "geo": null, "coordinates": null, "place": null, "contributors": null, "is_quote_status": false, "retweet_count": 8853, "favorite_count": 39467, "favorited": false, "retweeted": false, "possibly_sensitive": false, "possibly_sensitive_appealable": false, "lang": "en"}

In [119]:
#favorite_count, retweet_count, retweeted
json_file_tweets = json_file_tweets[['id', 'favorite_count', 'retweet_count','retweeted']]

#set id index
json_file_tweets.set_index('id')
json_file_tweets.head(3)

                   id  favorite_count  retweet_count  retweeted
0  892420643555336193           39467           8853      False
1  892177421306343426           33819           6514      False
2  891815181378084864           25461           4328      False

## Assessing data

In [125]:
twitter_archive_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [131]:
twitter_archive_df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [126]:
twitter_archive_df.sample(4)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2198,668815180734689280,NaN,NaN,2015-11-23 15:35:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a wild Toblerone from Papua New Guinea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668815180...,7,10,a,None,None,None,None
1045,743595368194129920,NaN,NaN,2016-06-17 00:05:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Harold. He looks slippery af. Probably...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/743595368...,7,10,Harold,None,None,None,None
1146,727155742655025152,NaN,NaN,2016-05-02 15:20:13 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",When you're trying to enjoy yourself but end u...,NaN,NaN,NaN,https://vine.co/v/ixa1ejbXiM7,11,10,None,None,None,None,None
1852,675707330206547968,6.754971e+17,4.196984e+09,2015-12-12 16:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We've got ourselves a battle here. Watch out R...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675707330...,11,10,None,None,None,None,None

In [130]:
twitter_archive_df.shape
#17 columns and 2356 rows

(2356, 17)

In [18]:
twitter_archive_df.info()
#there are missing data in retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, 
#in_reply_to_status_id, and in_reply_to_user_id columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [128]:
twitter_archive_df['tweet_id'].value_counts()

# the timestamp and retweeted_status_timestamp datatype are object need to change it to datetime ==> Quality

749075273010798592    1
741099773336379392    1
798644042770751489    1
825120256414846976    1
769212283578875904    1
700462010979500032    1
780858289093574656    1
699775878809702401    1
880095782870896641    1
760521673607086080    1
776477788987613185    1
691820333922455552    1
715696743237730304    1
714606013974974464    1
760539183865880579    1
813157409116065792    1
676430933382295552    1
743510151680958465    1
837012587749474308    1
833722901757046785    1
818259473185828864    1
670704688707301377    1
667160273090932737    1
674394782723014656    1
672082170312290304    1
670093938074779648    1
759923798737051648    1
809920764300447744    1
805487436403003392    1
838085839343206401    1
                     ..
763956972077010945    1
870308999962521604    1
720775346191278080    1
785927819176054784    1
783347506784731136    1
775733305207554048    1
834209720923721728    1
825026590719483904    1
758405701903519748    1
668986018524233728    1
690938899477221376    1
667911425562669056    1
754482103782404096    1
713175907180089344    1
669015743032369152    1
672068090318987265    1
816829038950027264    1
683773439333797890    1
674291837063053312    1
837482249356513284    1
767500508068192258    1
773922284943896577    1
673342308415348736    1
886054160059072513    1
748307329658011649    1
715360349751484417    1
666817836334096384    1
794926597468000259    1
673705679337693185    1
700151421916807169    1
Name: tweet_id, Length: 2356, dtype: int64

In [158]:
sum(twitter_archive_df['tweet_id'].duplicated())

0

In [137]:
twitter_archive_df['rating_denominator'].value_counts()
#remove 11,50,80,20,2,16,40,70,15,90,110,120, 130,150,7,0 
#the rating numerators are greater than the denominators does not need to be cleaned

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [139]:
twitter_archive_df['rating_numerator'].value_counts()
# remove all numerator >14
#بسط

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [140]:
twitter_archive_df['doggo'].value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [141]:
twitter_archive_df['floofer'].value_counts()

None       2346
floofer      10
Name: floofer, dtype: int64

In [142]:
twitter_archive_df['pupper'].value_counts()

None      2099
pupper     257
Name: pupper, dtype: int64

In [143]:
twitter_archive_df['puppo'].value_counts()

None     2326
puppo      30
Name: puppo, dtype: int64

In [144]:
twitter_archive_df['name'].value_counts()

None        745
a            55
Charlie      12
Oliver       11
Cooper       11
Lucy         11
Lola         10
Penny        10
Tucker       10
Bo            9
Winston       9
Sadie         8
the           8
Buddy         7
Toby          7
an            7
Bailey        7
Daisy         7
Koda          6
Stanley       6
Leo           6
Oscar         6
Milo          6
Jax           6
Scout         6
Bella         6
Jack          6
Dave          6
Rusty         6
Finn          5
           ...
Flash         1
Monty         1
Jangle        1
Aqua          1
Gunner        1
Fillup        1
Arya          1
Rolf          1
Heinrich      1
Hall          1
Taz           1
Zeus          1
Ed            1
Rascal        1
Fwed          1
Rontu         1
Rinna         1
Kendall       1
Griswold      1
Maisey        1
Pumpkin       1
Lilli         1
Chevy         1
Dale          1
Evy           1
Dietrich      1
Strudel       1
Apollo        1
Gilbert       1
Obie          1
Name: name, Length: 957, dtype: int64

In [159]:
twitter_archive_df['text'].sample(10)

1073    Say hello to Rorie. She's zen af. Just enjoyin...
1632    This is Jeph. He's a Western Sagittarius Dookm...
1485    This is Dunkin. He can only see when he's wet ...
806     This is Penny. She's an OU cheerleader. About ...
214     This is Iggy. He was a rescue dog killed in th...
190     HE'S LIKE "WAIT A MINUTE I'M AN ANIMAL THIS IS...
35      I have a new hero and his name is Howard. 14/1...
1236    This is Kane. He's a semi-submerged Haitian Hu...
567     This is Loki. He'll do your taxes for you. Can...
1822    This pupper is very passionate about Christmas...
Name: text, dtype: object

In [ ]:
#merge all kinds or stages or name of dogs in one and remove NA from each columns ==> Tidness

In [132]:
dog_images_df.head()
#p1 is the algorithm's #1 prediction for the image in the tweet → golden retriever
#p1_conf is how confident the algorithm is in its #1 prediction → 95%
#p1_dog is whether or not the #1 prediction is a breed of dog → TRUE
#p2 is the algorithm's second most likely prediction → Labrador retriever
#p2_conf is how confident the algorithm is in its #2 prediction → 1%
#p2_dog is whether or not the #2 prediction is a breed of dog → TRUE

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [133]:
dog_images_df.shape
#12 coumns and 2075 rows

(2075, 12)

In [135]:
dog_images_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [171]:
sum(dog_images_df['tweet_id'].duplicated())

0

In [172]:
sum(dog_images_df['jpg_url'].duplicated())
#66 imge duplicated

66

In [155]:
dog_images_df['p1'].value_counts()

golden_retriever             150
Labrador_retriever           100
Pembroke                      89
Chihuahua                     83
pug                           57
chow                          44
Samoyed                       43
toy_poodle                    39
Pomeranian                    38
malamute                      30
cocker_spaniel                30
French_bulldog                26
Chesapeake_Bay_retriever      23
miniature_pinscher            23
seat_belt                     22
German_shepherd               20
Siberian_husky                20
Staffordshire_bullterrier     20
web_site                      19
Cardigan                      19
Eskimo_dog                    18
Maltese_dog                   18
teddy                         18
beagle                        18
Shetland_sheepdog             18
Shih-Tzu                      17
Lakeland_terrier              17
Rottweiler                    17
Italian_greyhound             16
kuvasz                        16
                            ...
panpipe                        1
beach_wagon                    1
leopard                        1
water_bottle                   1
rain_barrel                    1
dining_table                   1
mortarboard                    1
binoculars                     1
coil                           1
hand_blower                    1
cheetah                        1
polecat                        1
cliff                          1
pot                            1
mailbox                        1
ping-pong_ball                 1
otter                          1
coral_reef                     1
radio_telescope                1
fiddler_crab                   1
pillow                         1
robin                          1
bookshop                       1
shield                         1
walking_stick                  1
trombone                       1
dhole                          1
envelope                       1
orange                         1
microwave                      1
Name: p1, Length: 378, dtype: int64

In [156]:
dog_images_df['p2'].value_counts()

Labrador_retriever                104
golden_retriever                   92
Cardigan                           73
Chihuahua                          44
Pomeranian                         42
French_bulldog                     41
Chesapeake_Bay_retriever           41
toy_poodle                         37
cocker_spaniel                     34
Siberian_husky                     33
miniature_poodle                   33
beagle                             28
Eskimo_dog                         27
collie                             27
Pembroke                           27
kuvasz                             26
Italian_greyhound                  22
Pekinese                           21
American_Staffordshire_terrier     21
chow                               20
miniature_pinscher                 20
toy_terrier                        20
malinois                           20
Samoyed                            20
Norwegian_elkhound                 19
Boston_bull                        19
Staffordshire_bullterrier          18
Irish_terrier                      17
pug                                17
Shih-Tzu                           16
                                 ...
assault_rifle                       1
shower_curtain                      1
brown_bear                          1
tray                                1
television                          1
African_hunting_dog                 1
peacock                             1
Kerry_blue_terrier                  1
sliding_door                        1
sandbar                             1
Windsor_tie                         1
lawn_mower                          1
minibus                             1
spatula                             1
wombat                              1
cowboy_hat                          1
porcupine                           1
crib                                1
laptop                              1
table_lamp                          1
torch                               1
bib                                 1
coral_fungus                        1
Japanese_spaniel                    1
chimpanzee                          1
neck_brace                          1
sea_urchin                          1
mashed_potato                       1
sarong                              1
toucan                              1
Name: p2, Length: 405, dtype: int64

In [157]:
dog_images_df['p3'].value_counts()

Labrador_retriever                79
Chihuahua                         58
golden_retriever                  48
Eskimo_dog                        38
kelpie                            35
kuvasz                            34
chow                              32
Staffordshire_bullterrier         32
beagle                            31
cocker_spaniel                    31
Pomeranian                        29
Pekinese                          29
toy_poodle                        29
Chesapeake_Bay_retriever          27
Great_Pyrenees                    27
Pembroke                          27
malamute                          26
French_bulldog                    26
American_Staffordshire_terrier    24
pug                               23
Cardigan                          23
basenji                           21
bull_mastiff                      20
toy_terrier                       20
Siberian_husky                    19
Boston_bull                       17
Shetland_sheepdog                 17
doormat                           16
Lakeland_terrier                  16
boxer                             16
                                  ..
viaduct                            1
snorkel                            1
coral_reef                         1
soap_dispenser                     1
affenpinscher                      1
mitten                             1
French_horn                        1
rotisserie                         1
triceratops                        1
valley                             1
swimming_trunks                    1
rain_barrel                        1
maze                               1
cab                                1
European_fire_salamander           1
grey_fox                           1
oscilloscope                       1
African_grey                       1
toyshop                            1
pajama                             1
nail                               1
ox                                 1
steam_locomotive                   1
oxcart                             1
hatchet                            1
pier                               1
desktop_computer                   1
cloak                              1
seashore                           1
parallel_bars                      1
Name: p3, Length: 408, dtype: int64

In [148]:
json_file_tweets.head()

                   id  favorite_count  retweet_count  retweeted
0  892420643555336193           39467           8853      False
1  892177421306343426           33819           6514      False
2  891815181378084864           25461           4328      False
3  891689557279858688           42908           8964      False
4  891327558926688256           41048           9774      False

In [136]:
json_file_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 4 columns):
id                2354 non-null int64
favorite_count    2354 non-null int64
retweet_count     2354 non-null int64
retweeted         2354 non-null bool
dtypes: bool(1), int64(3)
memory usage: 57.5 KB

In [170]:
sum(json_file_tweets['id'].duplicated())

0

In [146]:
shape_a = twitter_archive_df.shape
shape_b = json_file_tweets.shape
shape_c = dog_images_df.shape
print(shape_a,shape_b,shape_c)

(2356, 17) (2354, 4) (2075, 12)

In [ ]:
#the dog_images_df has 2075 rows which means some of tweets without images ==> Quality

In [169]:
#check id datatype before merging the dataframes into one 
a = twitter_archive_df['tweet_id'].dtype
b = dog_images_df['tweet_id'].dtype
c = json_file_tweets['id'].dtype
print(a,b,c)

int64 int64 int64

### Quality Issues:
#### (accuracy, validity, consistency, completeness)

#### Define:
* 1 . Timestamp in twitter_archive_df is object, change it to datetime type.
* 2 . Text (tweets) contains #, extract the hashtages from the text column and store it in tweet_hashtag column.
* 3 . Name have some names with (a, an, not..) which is not names.
* 4 . Text (tweets) contians the rating number, sprate the text column to rating_number.
* 5 . Delete the columns that I don't use it.
* 6 . Sperate timestamp into three columns, (day, month, year)
* 7 . Remove any denominator does not equal 10 (1,50,80,20,2,16,40,70,15,90,110,120, 130,150,7,0)
* 8 . Remove outlires from nominator column.
* 9 . Calculate the rating in new column and store the percentage value.
* 10 . Remove all retweets from dog_images_df and keep tweets.
* 11 . Some tweets without images because the number of rows in twitter_archive_df and dog_images_df does not match.
* 12 . None values to NAN in Name, doggo, floofer, pupper and puppo

### Tidness Issues:
#### (structural issues)

#### Define:
* 1 . Merging twitter_archive_df, dog_images_df and json_file_tweets data into one dataframe
* 2 . jpg_url contins duplicated urls.
* 3 . There are four different columns of gog stages (Doggo, flooder, popper and puppy) merge it into one column and remove nulls.

## Cleaning data

In [181]:
#Make a copy of the dataframes
twitter_archive_df_clean = twitter_archive_df.copy()
dog_images_df_clean = dog_images_df.copy()
json_file_tweets_clean = json_file_tweets.copy()

1.  #####  Timestamp in twitter_archive_df is object, change it to datetime type

In [193]:
twitter_archive_df_clean['timestamp'] = pd.to_datetime(twitter_archive_df_clean['timestamp'], format ="%m/%d/%Y")

##### Test

In [239]:
twitter_archive_df_clean['timestamp'].dtype

dtype('<M8[ns]')

2. ##### Text (tweets) contains #, extract the hashtages from the text column and store it in tweet_hashtag column.

In [244]:
twitter_archive_df_clean['tweet_hashtag'] = twitter_archive_df_clean['text'].str.extract(r"#(\w+)")

##### Test

In [241]:
twitter_archive_df_clean['tweet_hashtag'].value_counts()

BarkWeek                 9
PrideMonth               3
dogsatpollingstations    1
Canada150                1
WKCDogShow               1
notallpuppers            1
BATP                     1
WomensMarch              1
BellLetsTalk             1
NoDaysOff                1
ImWithThor               1
PrideMonthPuppo          1
K9VeteransDay            1
ScienceMarch             1
GoodDogs                 1
LoveTwitter              1
Name: tweet_hashtag, dtype: int64

3. ##### Remove any denominator does not equal 10 (1,50,80,20,2,16,40,70,15,90,110,120, 130,150,7,0)

In [242]:
twitter_archive_df_clean = twitter_archive_df_clean[twitter_archive_df_clean['rating_denominator']==10]

##### Test

In [243]:
twitter_archive_df_clean['rating_denominator'].value_counts()

10    2333
Name: rating_denominator, dtype: int64

4. ##### Remove outlires from nominator column.

In [237]:
np.where(twitter_archive_df_clean['rating_numerator'] > 14)
#############################################################
############################################################
############################################################
############################################################
############################################################
############################################################
#############################################################
###########################################################

(array([  55,  188,  189,  285,  290,  291,  339,  691,  759,  973, 1692,
        2052]),)

5. ##### Calculate the rating in new column and store the percentage value in new column

In [ ]:
# Calculate the rating

6. ##### Replace None to NAN in Name, doggo, floofer, pupper and puppo columns

In [228]:
#Name
twitter_archive_df_clean['name'].replace('None', np.nan, inplace=True)
#Doggo
twitter_archive_df_clean['doggo'].replace('None', np.nan, inplace=True)
#flooder 
twitter_archive_df_clean['floofer'].replace('None', np.nan, inplace=True)
#popper 
twitter_archive_df_clean['pupper'].replace('None', np.nan, inplace=True)
#puppy
twitter_archive_df_clean['puppo'].replace('None', np.nan, inplace=True)

##### Test

In [230]:
twitter_archive_df_clean['puppo'].value_counts()

puppo    30
Name: puppo, dtype: int64

In [232]:
twitter_archive_df_clean['floofer'].value_counts()

floofer    10
Name: floofer, dtype: int64

In [233]:
twitter_archive_df_clean['doggo'].value_counts()

doggo    97
Name: doggo, dtype: int64

In [234]:
twitter_archive_df_clean['pupper'].value_counts()

pupper    257
Name: pupper, dtype: int64

7. ##### Combine puppo, floofer, doggo, and pupper into one column 'dog_stages'

In [258]:
dog_type = []

string_in = ['puppo', 'pupper', 'doggo', 'floof']
string_out = ['puppo', 'pupper', 'doggo', 'floofer']

for row in twitter_archive_df_clean['text']:
    row = row.lower()
    for word in string_in:
        if word in str(row):
            dog_type.append(string_out[string_in.index(word)])
            break
    else:
        dog_type.append('None')

twitter_archive_df_clean['dog_type'] = dog_type

##### Test

In [259]:
twitter_archive_df_clean['dog_type'].value_counts()

None       1891
pupper      276
doggo        92
puppo        38
floofer      36
Name: dog_type, dtype: int64

8. ##### Remove unused names from name and make the first letter capital.

In [ ]:
#remove and replace letters or symbols from name column manully

#how to replace value from the column in dataframe

9. ##### Delete the columns that I don't use it.

10. ##### Remove tweets and retweets without images

In [ ]:
# removing the tweets without images
df = df[pd.notnull(df['jpg_url'])]
In [21]:
# removing retweets
df = df[pd.isnull(df['retweeted_status_id'])]
df.shape[0]
Out[21]:
1994
In [22]:
df.drop(['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis = 1, inplace = True)

##### Test

## Analyzing

In [1]:
#install packages and libraries

## Resources

* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html

* https://stackoverflow.com/questions/2527892/parsing-a-tweet-to-extract-hashtags-into-an-array-in-python
* https://stackoverflow.com/questions/36108377/how-to-use-the-split-function-on-every-row-in-a-dataframe-in-python
* https://stackoverflow.com/questions/23743460/replace-none-with-nan-in-pandas-dataframe