# Wrangling and Analyzing data
#### By Hana ALalawi

## Table of contect:

### Introduction

wrangle WeRateDogs Twitter data to create interesting and trustworthy analysis and visualizations.


## Wrangling data

### Gathring data
### Assessing data
#### Quality Issue
#### Tidness Issue
### Cleaning data
### Storing, Analyzing, and Visualizing
#### Insight one :
#### Insight two :
#### Insight three :

## Introduction

brief about the project

#### Install packages and libraries

In [1]:
#related packages and libraries
import pandas as pd
import requests
import datetime 
import numpy as np
import requests
import json
import os
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

## Gathering data

In [2]:

twitter_archive_df = pd.read_csv('twitter-archive-enhanced.csv')
#reading twitter data 

#set tweet_id as the index
set_index = twitter_archive_df.set_index('tweet_id')
#twitter archive data stored in twitter_archive_df dataframe
twitter_archive_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,#VALUE!
0,8.924210e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,NaN
1,8.921770e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,NaN
2,8.918150e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,NaN
3,8.916900e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,NaN
4,8.913280e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,NaN

In [3]:
#image prediction file
#image_predictions.tsv

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

image_predict = requests.get(url, allow_redirects=True)

with open(url.split('/')[-1], mode='wb') as file:
    file.write(image_predict.content)
#load image prediction file

dog_images_df = pd.read_csv('image-predictions.tsv', sep='\t')
#image prediction data stored in dog_images_df dataframe

In [4]:
#import tweepy library
import tweepy
#twitter api keys
consumer_key = "veTkunCEa4e3v7D1ENf1ksvcF"
consumer_secret = "6qt5LKdgPAOYT9mfQG1ZdToPBx8Zc1vGKajgJDGaeo9cex9awU"
access_token = "764343205626277889-HYD5DsB2EmJD9gDtmd7scDjf5iEnxWl"
access_token_secret = "SqAYJWWIKmTyiy31EY7BZ2TItRDzE4kSsteuBGgyQen5z"
#Create Authentication object
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
#Setting access token and secret
auth.set_access_token(access_token, access_token_secret)
#create API object 
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [5]:
tweet_ids = dog_images_df.tweet_id.tolist()
len(tweet_ids)

2075

In [6]:
count = 0
tweets = []
fails = []
for tweet_id in tweet_ids:
        count += 1
        #print(str(count) + ": " + str(tweet_id))
        try:
            #add tweets ids to tweets list
            tweets.append(api.get_status(tweet_id, tweet_mode='extended'))
            print("Success")
        except tweepy.TweepError as e:
            #add tweets ids to fails list
            print("Fail")
            fails.append(tweet_id)
        except tweepy.RateLimitError as e:
            #print('RateLimitError')
            fails.append(tweet_id)
        except:
            #print('error')
            fails.append(tweet_id)

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Fail
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

Rate limit reached. Sleeping for: 375

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Fail
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Fail
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

Rate limit reached. Sleeping for: 374

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Fail
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Fail
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Fail
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Fail
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Fail
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [7]:
#the length of tweets and errors
len(tweets), len(fails)

(2067, 8)

In [8]:
#add tweets to the json file 
json_data = []
for jsonObject in tweets:
    json_data.append(jsonObject._json)

#write json data to text file "tweet_data.txt"     
with open('tweet_data.txt', 'w') as outfile:
    json.dump(json_data,outfile)
    outfile.write('\n')

In [9]:
#dataframe of twitter data
twitter_feed_df = pd.read_json('tweet_data.txt')

In [10]:
#convert to csv, and get (retweet_count, favorite_count,id, full_text)
tweet_info_list = []
with open('tweet_data.txt', 'r') as json_file:
    dog_feed_dict = json.load(json_file)

for dog_feed_df in dog_feed_dict:
    _id = dog_feed_df['id']
    text = dog_feed_df['full_text']
    favorite_count = dog_feed_df['favorite_count']
    retweet_count = dog_feed_df['retweet_count'] 
    
    #add the twitter_feed_df columns to list
    tweet_info_list.append({'tweet_id': str(_id),
                    'text': text,
                    'favorite_count': int(favorite_count),
                    'retweet_count': int(retweet_count)})
        
    twitter_feed_df = pd.DataFrame(tweet_info_list, columns = ['tweet_id','text', 'favorite_count', 'retweet_count'])

In [11]:
#head of the dataframe
twitter_feed_df.head()

,tweet_id,text,favorite_count,retweet_count
0,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,2530,498
1,666029285002620928,This is a western brown Mitsubishi terrier. Up...,126,46
2,666033412701032449,Here is a very happy pup. Big fan of well-main...,123,43
3,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,292,136
4,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,106,42

## Assessing data

In [12]:
twitter_archive_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,#VALUE!
0,8.924210e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,NaN
1,8.921770e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,NaN
2,8.918150e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,NaN
3,8.916900e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,NaN
4,8.913280e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,NaN

In [13]:
twitter_archive_df.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,#VALUE!
2351,6.660490e+17,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None,NaN
2352,6.660440e+17,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None,NaN
2353,6.660330e+17,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None,NaN
2354,6.660290e+17,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None,NaN
2355,6.660210e+17,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None,NaN

In [14]:
twitter_archive_df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator,#VALUE!
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000,0.0
mean,7.427716e+17,7.455128e+17,2.015385e+16,7.720221e+17,1.241437e+16,13.126486,10.455433,NaN
std,6.856706e+16,7.583419e+16,1.253546e+17,6.236131e+16,9.597227e+16,45.876648,6.745237,NaN
min,6.660210e+17,6.660000e+17,1.185634e+07,6.660000e+17,7.832140e+05,0.000000,0.000000,NaN
25%,6.783992e+17,6.760000e+17,3.086374e+08,7.190000e+17,4.196984e+09,10.000000,10.000000,NaN
50%,7.196275e+17,7.035000e+17,4.196984e+09,7.800000e+17,4.196984e+09,11.000000,10.000000,NaN
75%,7.993375e+17,8.260000e+17,4.196984e+09,8.200000e+17,4.196984e+09,12.000000,10.000000,NaN
max,8.924210e+17,8.860000e+17,8.410000e+17,8.870000e+17,7.870000e+17,1776.000000,170.000000,NaN

In [15]:
twitter_archive_df.sample(4)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,#VALUE!
632,7.939620e+17,NaN,NaN,2016-11-02 23:45:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maximus. His face is stuck like that. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/793962221...,12,10,Maximus,None,None,None,None,NaN
1787,6.775660e+17,NaN,NaN,2015-12-17 19:07:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Contortionist pup here. Inside pentagram. Clea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677565715...,6,10,None,None,None,None,None,NaN
2117,6.704220e+17,NaN,NaN,2015-11-28 02:00:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Herb. 12/10 https://t.co/tLRyYvCci3,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670421925...,12,10,Herb,None,None,None,None,NaN
1627,6.845950e+17,NaN,NaN,2016-01-06 04:38:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""FOR THE LAST TIME I DON'T WANNA PLAY TWISTER ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684594889...,10,10,None,None,None,None,None,NaN

In [16]:
twitter_archive_df.shape
#17 columns and 2356 rows

(2356, 18)

In [17]:
twitter_archive_df.info()
#there are missing data in retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, 
#in_reply_to_status_id, and in_reply_to_user_id columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 18 columns):
tweet_id                      2356 non-null float64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
#VALUE!                       0 non-null float64
dtypes: float64(6), int64(2), object(10)
memory usage: 331.4+ KB

In [18]:
twitter_archive_df['tweet_id'].value_counts()

# the timestamp and retweeted_status_timestamp datatype are object need to change it to datetime ==> Quality

6.757070e+17    2
8.322160e+17    2
6.737160e+17    2
6.747430e+17    2
6.751470e+17    2
6.675510e+17    2
8.190150e+17    2
7.276860e+17    1
8.347860e+17    1
8.703090e+17    1
7.602530e+17    1
6.671920e+17    1
7.949840e+17    1
6.895170e+17    1
6.709960e+17    1
6.722640e+17    1
7.663130e+17    1
7.490750e+17    1
8.047390e+17    1
6.801910e+17    1
8.344780e+17    1
8.218140e+17    1
7.943320e+17    1
8.732140e+17    1
7.478440e+17    1
7.761130e+17    1
7.087380e+17    1
6.757980e+17    1
8.250270e+17    1
6.997890e+17    1
               ..
8.382020e+17    1
6.849020e+17    1
6.775480e+17    1
8.085020e+17    1
8.186460e+17    1
7.008480e+17    1
6.742710e+17    1
7.910260e+17    1
8.896650e+17    1
6.892750e+17    1
6.895580e+17    1
7.167300e+17    1
6.985500e+17    1
7.840580e+17    1
8.363980e+17    1
8.902400e+17    1
7.050660e+17    1
8.863660e+17    1
7.783830e+17    1
8.918150e+17    1
6.729950e+17    1
8.892790e+17    1
8.874740e+17    1
7.825990e+17    1
8.109850e+17    1
7.519500e+17    1
7.193680e+17    1
6.689920e+17    1
8.889170e+17    1
7.787650e+17    1
Name: tweet_id, Length: 2349, dtype: int64

In [20]:
sum(twitter_archive_df['tweet_id'].duplicated())
#remove duplicated

7

In [21]:
twitter_archive_df['rating_denominator'].value_counts()
#remove 11,50,80,20,2,16,40,70,15,90,110,120, 130,150,7,0 
#the rating numerators are greater than the denominators does not need to be cleaned

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [22]:
twitter_archive_df['rating_numerator'].value_counts()
# remove all numerator >14
#بسط

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [23]:
twitter_archive_df['doggo'].value_counts()

None     2259
doggo      97
Name: doggo, dtype: int64

In [24]:
twitter_archive_df['floofer'].value_counts()

None       2346
floofer      10
Name: floofer, dtype: int64

In [25]:
twitter_archive_df['pupper'].value_counts()

None      2099
pupper     257
Name: pupper, dtype: int64

In [26]:
twitter_archive_df['puppo'].value_counts()

None     2326
puppo      30
Name: puppo, dtype: int64

In [27]:
twitter_archive_df['name'].value_counts()

None           745
a               55
Charlie         12
Lucy            11
Oliver          11
Cooper          11
Lola            10
Penny           10
Tucker          10
Winston          9
Bo               9
the              8
Sadie            8
an               7
Daisy            7
Buddy            7
Bailey           7
Toby             7
Oscar            6
Koda             6
Jack             6
Bella            6
Scout            6
Stanley          6
Jax              6
Rusty            6
Dave             6
Leo              6
Milo             6
Alfie            5
              ...
Brat             1
Heinrich         1
Mitch            1
Barry            1
Bobb             1
Cilantro         1
Jareld           1
Arlo             1
Farfle           1
Bobby            1
Storkson         1
Burt             1
Glenn            1
Einstein         1
William          1
Cedrick          1
Kramer           1
Edgar            1
Leonidas         1
Blakely          1
Ozzie            1
Taco             1
Banjo            1
Mojo             1
infuriating      1
Mingus           1
Chloe            1
Pete             1
Barney           1
Aja              1
Name: name, Length: 957, dtype: int64

In [28]:
twitter_archive_df['text'].sample(10)

2226    Meet Sophie. Her son just got in the car to le...
1353    When you're trying to watch your favorite tv s...
2174    This is Clarq. He's a golden Quetzalcoatl. Cla...
1433    Happy Wednesday here's a bucket of pups. 44/40...
1100    *faints* 12/10 perfection in pupper form https...
2087    This is Trigger. He was minding his own busine...
223     This is Noosh. He noticed you were in the show...
1674    Meet Jax. He's an Iglesias Hufflepoof. Quite t...
2103    This is Bloo. He's a Westminster Cîroc. Doesn'...
861     This is Belle. She's a Butterflop Hufflepoof. ...
Name: text, dtype: object

In [ ]:
#merge all kinds or stages or name of dogs in one and remove NA from each columns ==> Tidness

In [29]:
dog_images_df.head()
#p1 is the algorithm's #1 prediction for the image in the tweet → golden retriever
#p1_conf is how confident the algorithm is in its #1 prediction → 95%
#p1_dog is whether or not the #1 prediction is a breed of dog → TRUE
#p2 is the algorithm's second most likely prediction → Labrador retriever
#p2_conf is how confident the algorithm is in its #2 prediction → 1%
#p2_dog is whether or not the #2 prediction is a breed of dog → TRUE

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [30]:
dog_images_df.tail()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [31]:
dog_images_df.shape
#12 coumns and 2075 rows

(2075, 12)

In [32]:
dog_images_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [33]:
sum(dog_images_df['tweet_id'].duplicated())

0

In [34]:
sum(dog_images_df['jpg_url'].duplicated())
#66 imge duplicated

66

In [35]:
dog_images_df['p1'].value_counts()

golden_retriever             150
Labrador_retriever           100
Pembroke                      89
Chihuahua                     83
pug                           57
chow                          44
Samoyed                       43
toy_poodle                    39
Pomeranian                    38
malamute                      30
cocker_spaniel                30
French_bulldog                26
miniature_pinscher            23
Chesapeake_Bay_retriever      23
seat_belt                     22
Staffordshire_bullterrier     20
German_shepherd               20
Siberian_husky                20
Cardigan                      19
web_site                      19
Shetland_sheepdog             18
teddy                         18
Eskimo_dog                    18
Maltese_dog                   18
beagle                        18
Lakeland_terrier              17
Rottweiler                    17
Shih-Tzu                      17
kuvasz                        16
Italian_greyhound             16
                            ...
candle                         1
flamingo                       1
toilet_seat                    1
studio_couch                   1
lawn_mower                     1
Japanese_spaniel               1
clog                           1
walking_stick                  1
boathouse                      1
desktop_computer               1
mortarboard                    1
bald_eagle                     1
syringe                        1
electric_fan                   1
sandbar                        1
long-horned_beetle             1
book_jacket                    1
alp                            1
swab                           1
mailbox                        1
pot                            1
killer_whale                   1
African_hunting_dog            1
robin                          1
sunglasses                     1
starfish                       1
cliff                          1
banana                         1
limousine                      1
beaver                         1
Name: p1, Length: 378, dtype: int64

In [36]:
dog_images_df['p2'].value_counts()

Labrador_retriever                104
golden_retriever                   92
Cardigan                           73
Chihuahua                          44
Pomeranian                         42
Chesapeake_Bay_retriever           41
French_bulldog                     41
toy_poodle                         37
cocker_spaniel                     34
Siberian_husky                     33
miniature_poodle                   33
beagle                             28
collie                             27
Eskimo_dog                         27
Pembroke                           27
kuvasz                             26
Italian_greyhound                  22
Pekinese                           21
American_Staffordshire_terrier     21
chow                               20
Samoyed                            20
malinois                           20
miniature_pinscher                 20
toy_terrier                        20
Boston_bull                        19
Norwegian_elkhound                 19
Staffordshire_bullterrier          18
pug                                17
Irish_terrier                      17
Shih-Tzu                           16
                                 ...
hotdog                              1
red_fox                             1
wood_rabbit                         1
armadillo                           1
banded_gecko                        1
spotlight                           1
cowboy_boot                         1
hair_slide                          1
breastplate                         1
solar_dish                          1
bucket                              1
wombat                              1
spindle                             1
sulphur_butterfly                   1
torch                               1
cardigan                            1
siamang                             1
mosquito_net                        1
space_heater                        1
cougar                              1
folding_chair                       1
tiger                               1
brown_bear                          1
quail                               1
lighter                             1
printer                             1
dining_table                        1
sandal                              1
computer_keyboard                   1
hatchet                             1
Name: p2, Length: 405, dtype: int64

In [37]:
dog_images_df['p3'].value_counts()

Labrador_retriever                79
Chihuahua                         58
golden_retriever                  48
Eskimo_dog                        38
kelpie                            35
kuvasz                            34
chow                              32
Staffordshire_bullterrier         32
beagle                            31
cocker_spaniel                    31
toy_poodle                        29
Pomeranian                        29
Pekinese                          29
Great_Pyrenees                    27
Chesapeake_Bay_retriever          27
Pembroke                          27
malamute                          26
French_bulldog                    26
American_Staffordshire_terrier    24
Cardigan                          23
pug                               23
basenji                           21
toy_terrier                       20
bull_mastiff                      20
Siberian_husky                    19
Shetland_sheepdog                 17
Boston_bull                       17
doormat                           16
boxer                             16
Lakeland_terrier                  16
                                  ..
dugong                             1
snorkel                            1
hare                               1
steam_locomotive                   1
French_horn                        1
rifle                              1
swimming_trunks                    1
Band_Aid                           1
plastic_bag                        1
power_drill                        1
bulletproof_vest                   1
red_wolf                           1
neck_brace                         1
cloak                              1
goose                              1
rapeseed                           1
mitten                             1
barber_chair                       1
balance_beam                       1
mushroom                           1
desktop_computer                   1
canoe                              1
cardoon                            1
hand-held_computer                 1
bow_tie                            1
broccoli                           1
great_grey_owl                     1
spatula                            1
wok                                1
hatchet                            1
Name: p3, Length: 408, dtype: int64

In [38]:
twitter_feed_df.head()

,tweet_id,text,favorite_count,retweet_count
0,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,2530,498
1,666029285002620928,This is a western brown Mitsubishi terrier. Up...,126,46
2,666033412701032449,Here is a very happy pup. Big fan of well-main...,123,43
3,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,292,136
4,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,106,42

In [39]:
twitter_feed_df.tail()

,tweet_id,text,favorite_count,retweet_count
2062,891327558926688256,This is Franklin. He would like you to stop ca...,39412,9118
2063,891689557279858688,This is Darla. She commenced a snooze mid meal...,41241,8419
2064,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,24511,4050
2065,892177421306343426,This is Tilly. She's just checking pup on you....,32550,6113
2066,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,37895,8275

In [40]:
twitter_feed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2067 entries, 0 to 2066
Data columns (total 4 columns):
tweet_id          2067 non-null object
text              2067 non-null object
favorite_count    2067 non-null int64
retweet_count     2067 non-null int64
dtypes: int64(2), object(2)
memory usage: 64.7+ KB

In [41]:
sum(twitter_feed_df['tweet_id'].duplicated())

0

In [42]:
shape_a = twitter_archive_df.shape
shape_b = twitter_feed_df.shape
shape_c = dog_images_df.shape
print(shape_a,shape_b,shape_c)

(2356, 18) (2067, 4) (2075, 12)

In [43]:
#the dog_images_df has 2075 rows which means some of tweets without images ==> Quality

In [45]:
#check id datatype before merging the dataframes into one 
a = twitter_archive_df['tweet_id'].dtype
b = dog_images_df['tweet_id'].dtype
c = twitter_feed_df['tweet_id'].dtype
print(a,b,c)

float64 int64 object

### Quality Issues:
#### (accuracy, validity, consistency, completeness)

#### Define:
* 1 . Timestamp in twitter_archive_df is object, change it to datetime type.
* 2 . Text (tweets) contains #, extract the hashtages from the text column and store it in tweet_hashtag column.
* 3 . Name have some names with (a, an, not..) which is not names.
* 4 . Text (tweets) contians the rating number, seperate the text column to rating_number.
* 5 . Delete the columns that I don't use it.
* 6 . Sperate timestamp into three columns, (day, month, year).
* 7 . Remove any denominator does not equal 10 (1,50,80,20,2,16,40,70,15,90,110,120, 130,150,7,0).
* 8 . Remove outlires from nominator column.
* 9 . Calculate the rating in new column and store the percentage value.
* 10 . Remove all retweets from dog_images_df and keep tweets.
* 11 . Some tweets without images because the number of rows in twitter_archive_df and dog_images_df does not match.
* 12 . None values to NAN in Name, doggo, floofer, pupper and puppo.
* 13 . Remove duplicated values in twitter_archive_df.

### Tidness Issues:
#### (structural issues)

#### Define:
* 1 . Merging twitter_archive_df, dog_images_df and json_file_tweets data into one dataframe
* 2 . jpg_url contins duplicated urls.
* 3 . There are four different columns of gog stages (Doggo, flooder, popper and puppy) merge it into one column and remove nulls.

## Cleaning data

In [69]:
#Make a copy of the dataframes
twitter_archive_df_copy = twitter_archive_df.copy()
dog_images_df_copy = dog_images_df.copy()
twitter_feed_df_copy = twitter_feed_df.copy()

1.  #####  Timestamp in twitter_archive_df is object, change it to datetime type

#####  Code

In [70]:
#Change the timestamp to datetime
twitter_archive_df_copy['timestamp'] = pd.to_datetime(twitter_archive_df_copy['timestamp'], format ='%Y-%m-%d')
#'%Y-%m-%d'

##### Test

In [71]:
#check 
twitter_archive_df_copy['timestamp'].dtype

dtype('<M8[ns]')

2. ##### Text (tweets) contains #, extract the hashtages from the text column and store it in tweet_hashtag column.

#####  Code

In [72]:
#create new column "tweet_hashtag" to get all hashtages from text
twitter_archive_df_copy['tweet_hashtag'] = twitter_archive_df_copy['text'].str.extract(r"#(\w+)")

##### Test

In [73]:
twitter_archive_df_copy['tweet_hashtag'].value_counts()
#used hashtages

BarkWeek                 9
PrideMonth               3
LoveTwitter              1
BellLetsTalk             1
GoodDogs                 1
K9VeteransDay            1
FinalFur                 1
BATP                     1
WomensMarch              1
dogsatpollingstations    1
NoDaysOff                1
ImWithThor               1
notallpuppers            1
WKCDogShow               1
Canada150                1
PrideMonthPuppo          1
ScienceMarch             1
Name: tweet_hashtag, dtype: int64

3. ##### Remove any denominator does not equal 10 (1,50,80,20,2,16,40,70,15,90,110,120, 130,150,7,0)

#####  Code

In [75]:
#to get rate of dogs I removed any denominator does not equal 10 
twitter_archive_df_copy = twitter_archive_df_copy[twitter_archive_df_copy['rating_denominator']==10]

##### Test

In [76]:
twitter_archive_df_copy['rating_denominator'].value_counts()

10    2333
Name: rating_denominator, dtype: int64

4. ##### Remove outlires from nominator column.

#####  Code

In [85]:
np.where(twitter_archive_df_copy['rating_numerator'] > 14)
#############################################################
############################################################
############################################################
############################################################
############################################################
############################################################
#############################################################
###########################################################

TypeError: 'int' object is not callable

#####  Test

5. ##### Calculate the rating in new column and store the percentage value in new column

#####  Code

In [ ]:
# Calculate the rating

#####  Test

6. ##### Replace None to NAN in Name, doggo, floofer, pupper and puppo columns

#####  Code

In [78]:
#Name
twitter_archive_df_copy['name'].replace('None', np.nan, inplace=True)
#Doggo
twitter_archive_df_copy['doggo'].replace('None', np.nan, inplace=True)
#flooder 
twitter_archive_df_copy['floofer'].replace('None', np.nan, inplace=True)
#popper 
twitter_archive_df_copy['pupper'].replace('None', np.nan, inplace=True)
#puppy
twitter_archive_df_copy['puppo'].replace('None', np.nan, inplace=True)

##### Test

In [79]:
twitter_archive_df_copy['puppo'].value_counts()

puppo    30
Name: puppo, dtype: int64

In [80]:
twitter_archive_df_copy['floofer'].value_counts()

floofer    10
Name: floofer, dtype: int64

In [81]:
twitter_archive_df_copy['doggo'].value_counts()

doggo    97
Name: doggo, dtype: int64

In [83]:
twitter_archive_df_copy['pupper'].value_counts()

pupper    257
Name: pupper, dtype: int64

7. ##### Combine puppo, floofer, doggo, and pupper into one column 'dog_stages'

#####  Code

##### Test

In [84]:
twitter_archive_df_copy['dog_stages'].value_counts()

KeyError: 'dog_stages'

8. ##### Remove unused names from name and make the first letter capital.

#####  Code

In [ ]:
#remove and replace letters or symbols from name column manully

#how to replace value from the column in dataframe

##### Test

9. ##### Delete the columns that I don't use it.

#####  Code

##### Test

10. ##### Remove tweets and retweets without images

#####  Code

##### Test

## Analyzing

In [ ]:
#install packages and libraries

## Resources

* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html

* https://stackoverflow.com/questions/2527892/parsing-a-tweet-to-extract-hashtags-into-an-array-in-python
* https://stackoverflow.com/questions/36108377/how-to-use-the-split-function-on-every-row-in-a-dataframe-in-python
* https://stackoverflow.com/questions/23743460/replace-none-with-nan-in-pandas-dataframe
* https://www.toptal.com/python/twitter-data-mining-using-python